.form-signin {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    padding: 20px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

.btn {
    width: 100%;
}

.checkbox {
    align-self: flex-start;
}

.clients-items-btn {
    margin-bottom: 20px;
}

.table {
    display: inline-block;
}

.table-rows-item {
    display: flex;
}

.table-header__items.table-header__items-fix {
    width: 200px;
    background-color: white;
}

.table-header .table-header__items-fix {
    background-color: rgba(169, 169, 169, 0.69);
}

.table-rows__items {
    background-color: transparent !important;
}