.table-row {
  .table-cell-label.table-cell-calculated-field {
    font-weight: bold;
  }

  //&:focus {
  //  position: relative;
  //  border: 2px solid royalblue;
  //  box-sizing: border-box;
  //  z-index: 100;
  //}

  .table-cell-label.table-cell-calculated-field-percents {
    padding-left: 1rem;
    font-style: italic;
  }
}